<blockquote class="quote">
    <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda temporibus maiores
        aliquam quis odio corporis reiciendis doloremque laudantium quod nostrum!
    </p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon quote__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Doe</h3>
                <p class="quote__company">ABC Company</p>
            </div>
        </div>
    </footer>
</blockquote>
