<div class="testimonial">
    <div class="card">
        <div class="card__body grid grid--cols-2">
            <div class="testimonial__image">
                <img src="images/testimonial.jpg" alt="a happy customer" />
                <span class="icon-container icon-container--accent">
                    <svg class="icon icon--white icon--small">
                        <use xlink:href="images/sprite.svg#quotes"></use>
                    </svg>
                </span>
            </div>
            <blockquote class="quote">
                <p class="quote__text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis quae nam quasi
                    at voluptatem aperiam tenetur dignissimos tempora accusamus doloremque sit
                    necessitatibus rem nemo minima numquam libero distinctio iste, ratione nihil
                    excepturi fugit officiis natus quo. Enim, aspernatur, placeat at inventore
                    consequuntur deleniti cumque necessitatibus fugiat et fuga autem est!
                </p>
                <footer>
                    <div class="media">
                        <div class="media__image">
                            <svg class="icon quote__line">
                                <use xlink:href="images/sprite.svg#line"></use>
                            </svg>
                        </div>
                        <div class="media__body">
                            <h3 class="media__title quote__author">John Doe</h3>
                            <p class="quote__company">ABC Company</p>
                        </div>
                    </div>
                </footer>
            </blockquote>
        </div>
    </div>
</div>
